In [1]:
from Bio import SeqIO
import gff3_parser
import pandas as pd

In [2]:
gene_data = 'genomic.gff'
sequence_data = 'chromosome1.fasta'

Файл 'chromosome1.fasta' содержит **последовательность нуклеотидов** первой хромосомы человека

In [3]:
with open(sequence_data) as file:
    fasta_sequences = SeqIO.parse(file, 'fasta')
    for fasta in fasta_sequences:
        name, sequence = fasta.id, str(fasta.seq)

In [4]:
data = gff3_parser.parse_gff3(gene_data)

!genome-build-accession NCBI_Assembly:GCF_000001405.40
species https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=9606

100%|██████████| 4719971/4719971 [00:13<00:00, 349500.51it/s]

In [5]:
data.head()

          Seqid      Source        Type  Start        End Score Strand Phase
0  NC_000001.11      RefSeq      region      1  248956422   NaN      +   NaN
1  NC_000001.11  BestRefSeq  pseudogene  11874      14409   NaN      +   NaN
2  NC_000001.11  BestRefSeq  transcript  11874      14409   NaN      +   NaN
3  NC_000001.11  BestRefSeq        exon  11874      12227   NaN      +   NaN
4  NC_000001.11  BestRefSeq        exon  12613      12721   NaN      +   NaN

Seqid - id последовательность, в нашем случае **NC_000001.11** - первая хромосома  
Source - источник последовательности  
Type - тип региона (ген, экзон, псевдоген и т.д.)  
Start, End - начало и конец региона  
Strand - цепочка ДНК (+ или -)

In [6]:
exons = data[(data['Type']=='exon') & 
           (data['Seqid']=='NC_000001.11') & 
           (data['Source']=='BestRefSeq') &
           (data['Strand']=='+')]


cds = data[(data['Type']=='CDS') & 
           (data['Seqid']=='NC_000001.11') & 
           (data['Source']=='BestRefSeq') &
           (data['Strand']=='+')]


exons.loc[:, 'Start'] = exons.loc[:, 'Start'].astype('int')
exons.loc[:, 'End'] = exons.loc[:, 'End'].astype('int')

cds.loc[:, 'Start'] = cds.loc[:, 'Start'].astype('int')
cds.loc[:, 'End'] = cds.loc[:, 'End'].astype('int')

In [7]:
cds.head()

            Seqid      Source Type   Start     End Score Strand Phase
50   NC_000001.11  BestRefSeq  CDS   65565   65573   NaN      +     0
51   NC_000001.11  BestRefSeq  CDS   69037   70008   NaN      +     0
557  NC_000001.11  BestRefSeq  CDS  924432  924948   NaN      +     0
558  NC_000001.11  BestRefSeq  CDS  925922  926013   NaN      +     2
559  NC_000001.11  BestRefSeq  CDS  930155  930336   NaN      +     0

In [8]:
exons.head()

           Seqid      Source  Type  Start    End Score Strand Phase
3   NC_000001.11  BestRefSeq  exon  11874  12227   NaN      +   NaN
4   NC_000001.11  BestRefSeq  exon  12613  12721   NaN      +   NaN
5   NC_000001.11  BestRefSeq  exon  13221  14409   NaN      +   NaN
35  NC_000001.11  BestRefSeq  exon  30366  30503   NaN      +   NaN
37  NC_000001.11  BestRefSeq  exon  30438  30458   NaN      +   NaN

In [8]:
cds.to_csv('data/cds.csv', index=False)
exons.to_csv('data/exons.csv', index=False)